@model DietViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Diets</h1>
<div style="margin-top: 50px;">
    <div class="row">
        <div class="col-sm-8" style="max-width: 1000px;">
            <canvas id="LCHFlineChart"></canvas>
        </div>
        <div class="col-sm-4">
            <h3>Low Carb High Fat Recipes</h3>
            @foreach (var item in Model.LCHFRecipes)
            {
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                    <div>@item.Label</div>
                </a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="max-width: 1000px;">
            <canvas id="HPLClineChart"></canvas>
        </div>
        <div class="col-sm-4">
            <h3>High Protein Low Carb Recipes</h3>
            @foreach (var item in Model.HighProteinLowCarbRecipes)
            {
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                    <div>@item.Label</div>
                </a>
            }
        </div>
    </div>
</div>