@model HomeViewModel
@{
    ViewBag.Title = "Home";
}


<div class="container" style="margin-top: 100px;">
    <div class="row">
        @foreach (var item in Model.Recipes)
        {
            <div class="col-lg-3 col-md-12 mb-4 d-flex align-items-stretch">
                <!-- Card -->
                <div class="card hoverable wow zoomIn">

                    <!-- Card image -->

                    <div class="view overlay zoom">
                        <img class="card-img-top" src="@item.Image" alt="Card image cap">

                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="p-3 d-flex">
                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">@item.Label</h4>
                            <!-- Text -->
                            <p class="card-text">
                              That's one tastey dish!
                            </p>
                            <!-- Button -->
                            <a asp-controller="Order" asp-action="Create" asp-route-id="@item.Id" class="btn btn-primary float-left my-2">Order</a>

                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
        }
    </div>
</div>
<partial name="_Footer" />
